@import "../utility/variables.scss";
@import "../utility/mixins.scss";

.excel__table {
  position: absolute;
  top: $header-height + $toolbar-height + $formula-height;
  left: 0;
  right: 0;
  overflow-x: auto;
  padding-bottom: 2px;

  & .row {
    display: flex;
    flex-direction: row;
    min-height: 20px;
    height: $row-height;
    
    & .row-info {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: $info-cell-width;
      height: 100%;
      border: 1px solid $border-color;
      border-top: none;
      background: #f8f9fa;
    }

    & .row-data {
      display: flex;

      & .column {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 40px;
        width: $cell-width;
        height: 100%;
        background: #f8f9fa;
        border: 1px solid $border-color;
        border-top: none;
        border-left: none;
      }

      & .cell {
        min-width: 40px;
        width: $cell-width;
        height: 100%;
        padding: 5px;
        color: #111;
        border: 1px solid #e2e3e3;
        border-top: none;
        border-left: none;
        white-space: nowrap;
        outline: none;

        &.selected {
          border: none;
          outline: 2px solid #3C74FF;
          z-index: 2;
        }
      }
    }
  }
}